
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-normal {
 font-family: "Inter", sans-serif 'Miama', sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
 font-variation-settings:"slnt" 0;
}

/* ------------------------shared all style----------------------- */
.display-flex{
 display: flex;
}
.primary{
 background-color: #E6533C;
 border: none;
 border-radius: 10px;
 color: #FFFFFF;
}
.btn-primary{
 background-color: #E6533C;
 border: none;
 border-radius: 10px;
 color: #FFFFFF;
 padding: 10px;
}
.shape{
 font-family: 'Miama', sans-serif;
}

.btn-primary{
 width: 200px;
 height: 54px;
 margin: 14px;
}

.btn-app{
 width: 200px;
 height: 54px;
 margin: 14px;
 background-color: rgba(17, 17, 17, 1);
 color: #FFFFFF;
 border: 1px solid rgba(187, 187, 187, 1);
}
/* ------------------------bg dark color--------------------------- */
.bg-dark{
 background-color: #111111;
}

/* ---text color----- */
.text-color{
 color: #FFFFFF;
}


/* ----------------navbar related style---------------------------- */
.navbar{
 text-align: center;
 justify-content: space-between;
 align-items: center;
 margin-right: 190px;
 padding-top: 57px;
}

.logo{
 font-weight: 800;
 font-size: 30px;
 color: #E6533C;
 margin-left: 180px;
}
.nav-item{
 list-style: none;
 margin-right: 40px;
}
.nav-links{
 border: .1px solid #777777;
 padding: 8px;
 border-radius: 50px;

}
.nav-link{
 font-weight:400;
 font-size: 15px;
 text-decoration: none;
 margin: 20px;
}

/* -----------------------Header related style--------------------------------------- */
.header-title{
 margin: 20px 0px 0px 400px;
 color: #FFFFFF;
}
.header-title button{
 border-radius: 50px;
}
.header-title h1{
 font-size: 78px;
}

.image img{
 padding: 50px;
 width: 349px;
 height: 580px;
}
 
/* ------------------------------------habits exercise-deaitls----------------------- */
.exercise-deaitls{
 background-color: black;
}
.habits-title{
 font-size: 48px;
 text-align: center;
 color:rgba(255, 255, 255, 1);
}
.habits-titles{
 font-size: 18px;
 color:rgba(255, 255, 255, 0.5);
 text-align: center;
}

.show-exercise{
 display: flex;
 margin-right: 198px;
 margin-left: 300px;
}
.show-exercise img{
 padding: 40px;
}
.habits-description{
 text-align: center;
 color: rgba(255, 255, 255, 0.5);
}

.show-exercise img{
 margin: 30px;
 border-radius: 50%;
}


/* ---------------------------------fitness-form--------------------- */
.fitnese{
 background-color: black;
}
table, th, td{
 margin: 10px;
 padding: 5px 5px;
 border: 1px solid rgb(245, 237, 237);
 color: white;
 margin-left: 250px;
 padding: 5px;
}
.calculate-form{
 margin-left: 250px;
}
.fitness-form{
 display: flex;
}
/* ----------------------run related style------------------------- */
.run-execrise{
 background-color: rgb(0, 0, 0);
 padding: 100px;
}
.execrise{
 display: flex;
 background-color: rgba(34, 34, 34, 1);
 margin: 100px 190px 100px 190px;
 border-radius: 30px;

}
.run-execrise img{
 width: 400px;
 height: 300px;
 padding: 30px;
 border-radius: 30px;
 
}

/* ---------------------teem-bember------------- */
.teem{
 display: flex;
}
.teem-bember img{
position: relative;
color: rgb(245, 71, 71);
width: 200px;
height: 100px;
}
.trainer-name, span{
position: absolute;
top: 80%;
left: 30px;
}







/* -------------------------------Responsive midea quary----------------------------------- */
@media screen and (max-width: 576px){
  .navbar, .nav-links, .banner{
   flex-direction: column;
  }
  .logo{
   margin-left: 0;
  }
 .header-title{
  margin: 0 auto;
 }
 .banner-description{
  flex-direction: column;
 }
}
